ScreenCastingApp/ScreenCastingClient/Service References/ScreenCastingService/ScreenCastingService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ScreenCastingService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:9988/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:9988/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:9988/?xsd=xsd2" namespace="http://schemas.microsoft.com/Message" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IScreenCastingService_SayHello_InputMessage">
    <wsdl:part name="parameters" element="tns:SayHello" />
  </wsdl:message>
  <wsdl:message name="IScreenCastingService_SayHello_OutputMessage">
    <wsdl:part name="parameters" element="tns:SayHelloResponse" />
  </wsdl:message>
  <wsdl:message name="IScreenCastingService_Cast_InputMessage">
    <wsdl:part name="parameters" element="tns:Cast" />
  </wsdl:message>
  <wsdl:message name="IScreenCastingService_Cast_OutputMessage">
    <wsdl:part name="parameters" element="tns:CastResponse" />
  </wsdl:message>
  <wsdl:message name="IScreenCastingService_GetImage_InputMessage">
    <wsdl:part name="parameters" element="tns:GetImage" />
  </wsdl:message>
  <wsdl:message name="IScreenCastingService_GetImage_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetImageResponse" />
  </wsdl:message>
  <wsdl:message name="IScreenCastingService_PostImage_InputMessage">
    <wsdl:part name="parameters" element="tns:PostImage" />
  </wsdl:message>
  <wsdl:message name="IScreenCastingService_PostImage_OutputMessage">
    <wsdl:part name="parameters" element="tns:PostImageResponse" />
  </wsdl:message>
  <wsdl:portType name="IScreenCastingService">
    <wsdl:operation name="SayHello">
      <wsdl:input wsam:Action="http://tempuri.org/IScreenCastingService/SayHello" message="tns:IScreenCastingService_SayHello_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IScreenCastingService/SayHelloResponse" message="tns:IScreenCastingService_SayHello_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Cast">
      <wsdl:input wsam:Action="http://tempuri.org/IScreenCastingService/Cast" message="tns:IScreenCastingService_Cast_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IScreenCastingService/CastResponse" message="tns:IScreenCastingService_Cast_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetImage">
      <wsdl:input wsam:Action="http://tempuri.org/IScreenCastingService/GetImage" message="tns:IScreenCastingService_GetImage_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IScreenCastingService/GetImageResponse" message="tns:IScreenCastingService_GetImage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PostImage">
      <wsdl:input wsam:Action="http://tempuri.org/IScreenCastingService/PostImage" message="tns:IScreenCastingService_PostImage_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IScreenCastingService/PostImageResponse" message="tns:IScreenCastingService_PostImage_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:service name="ScreenCastingService" />
</wsdl:definitions>